body, html {
    margin: 0;
    padding: 0;
}

.main_page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Добавляем фоновое изображение */
.main_page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../img/main.png');
    background-size: cover;
    background-position: center;
}

/* Радиальное затемнение */
.main_page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 2%, rgba(69, 159, 106, 0) 22%, rgba(36, 82, 54, 0) 78%, rgba(0, 0, 0, 1) 98%);
}

.main_page_wrapper {
    width: 600px;
    transform: translateX(300px);
}
.main_page_conttent {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #7a7a7a;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
}
.button_begin {
    margin-top: 40px;
}
.button_begin a {
    font-size: 40px;
    padding: 20px 30px;
    background-color: rgba(255, 0, 0, 0.171);
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.3s;
}
.button_begin a:hover {
    background-color: rgba(255, 0, 0, 0.76);
    -webkit-box-shadow: 0px 0px 36px 9px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 36px 9px rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 36px 9px rgba(255, 0, 0, 0.5);
}
.title p {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.96);
}
.title span {
    font-size: 25px;
    margin-top: 20px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.96);
}
.online {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid #7a7a7a;
    -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.online ul li {
    transform: translateX(30px);
    font-size: 30px;
}
.online ul li::marker {
    color: rgb(0, 202, 0); /* Устанавливаем цвет маркера зелёным */
    /* font-size: 30px; */
}















.main_page_2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Добавляем фоновое изображение */
.main_page_2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../img/main2.png');
    background-size: cover;
    background-position: center;
}

/* Радиальное затемнение */
.main_page_2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 2%, rgba(69, 159, 106, 0) 22%, rgba(36, 82, 54, 0) 78%, rgba(0, 0, 0, 1) 98%);
}